*{
    margin: 0;
    padding: 0;
}

html{
    font-family: sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 1100px;
}

section{
    width: 100%;
    height: 1100px;
    padding-top: 20px;
    background-color: #3c4053;
    display: flex;    
    /*align-items: center;*/
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 80%;    
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container-barra{
    font-size: 20px;
    display: flex;
    color: rgba(255, 255, 255, .8);
    width: 100%;    
    padding: 1.4rem 0;
    background-color: #283042;
    border-radius: .4rem;
    margin-bottom: 2rem;    
    box-shadow: .5rem 4px .5rem rgba(0, 0, 0, .6);
}

.icon{
    margin-left: 2rem;    
}

.pag{
    margin-left: 2rem;
    display: flex;
    padding: .5rem;
    align-items: center;
    justify-content: space-between;
}

.container-barra i{
    color: #e7d5ff;    
}

.acordeon-item{
    background-color: #283042;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 4px .5rem rgba(0, 0, 0, .6);    
}

.acordeon-link{
    font-size: 12px;
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    background-color: #283042;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.acordeon-link i{
    color: #e7d5ff;
    padding: .5rem;
}

.acordeon-link .fa-minus{
    display: none;
}

.opciones{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #212838;
    transition: max-height 750ms;
}

.opciones::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 800px;
    background-color: #05c4e6;
    top: 100%;
    left: 0;
    transform: translateY(-50%);    
}

.opciones p{
    color: rgba(255, 255, 255, .6);
    font-size: 1.4rem;
    padding: 8px;
}

.acordeon-item:target .opciones{
    max-height: 450px; /*25rem;*/

}

.acordeon-item:target .acordeon-link .fa-plus{
    display: none;
}

.acordeon-item:target .acordeon-link .fa-minus{
    display: block;
}

/*  CAMPO PARA INGRESAR COMENTARIO  */
.form-group input{
    height: 32px;
    width: 90%;
    margin: 6px;
    font-size: 14px;
    background: #e7e7e7;
    color: #000000;            
    margin-left: 20px;
    border-radius: 5px;
}



.form-group::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 58px;
    font-size: 22px;
    padding-top: 4px;
}

.form-otros input{
    height: 32px;
    width: 90%;
    margin: 10px;
    font-size: 14px;
    background: #e7e7e7;
    color: #000000;
    padding: 0;            
    margin-left: 28px;
    border-radius: 5px;
}

.form-otros::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 58px;
    font-size: 22px;
    /*padding-top: 4px;*/
}

/*  EDITAR CHECKBOX  */

label{
    font-size: 12px;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox] + label{
    cursor: pointer;
}

label::before{
    content: '';
    background: transparent;
    border: 2px solid #04d7fc;
    border-radius: 50%;
    display: inline-block;
    height: 25px;        
    margin-right: 15px;
    margin-left: 20px;
    text-align: center;    
    /*text-shadow: 2px -1px 1px #ffffff;*/
    vertical-align: middle;
    width: 25px;
    box-shadow: .4rem 3px .4rem rgba(0, 0, 0, 0.712);
}

input[type=checkbox]:checked + label:before{
    content: '✓';    
    font-size: 18px;
    font-family: 'arial';
    color: #88c64b;    
    
}

