*{
    margin: 0;
    padding: 0;
}

html{
    font-family: sans-serif;    
    box-sizing: border-box;
    flex-wrap: wrap;
}

body{
    background-color: #3c4053;
    font-size: 16px;
}

section{
    width: 100%;
    height: auto;    
    display: flex;
    margin: 30px 0;
}

.container{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.container-barra{
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    display: flex;
    color: rgba(255, 255, 255, .8);
    background-color: #283042;
    border-radius: 6px;
    margin-bottom: 20px;
    align-items: center;    
    box-shadow: .5rem 4px .5rem rgba(0, 0, 0, .6);
}

.icon{
    margin-left: 2rem;    
}

.pag{
    margin-left: 2rem;
    display: flex;
    padding: .5rem;
    align-items: center;
    justify-content: space-between;
}

.container-barra i{
    color: #e7d5ff;    
}

.acordeon{
    display: grid;
    grid-gap: 15px;    
}

.acordeon-item{
    background-color: #283042;
    border-radius: 5px;    
    padding: 8px;
    box-shadow: 5px 7px 4px rgba(0, 0, 0, .6);    
}

.acordeon-link{
    width: 100%;
    padding: 8px 0;    
    font-size: 14px;
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    background-color: #283042;    
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.acordeon-link i{
    color: #e7d5ff;
    padding: .5rem;
}

.acordeon-link .fa-minus{
    display: none;
}

.opciones{
    max-height: 0;
    overflow: hidden;
    position: relative;    
    background-color: #212838;
    transition: max-height 750ms;    
}

.opciones::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 800px;
    background-color: #05c4e6;
    top: 100%;
    left: 0;
    transform: translateY(-50%);    
}

a{
    font-size: 25px;
}

.opciones p{
    color: rgba(255, 255, 255, .6);
    font-size: 1.4rem;    
    padding: 8px;    
}

.op{
    float: left;
    width: 24%;
    display: flexbox;
    align-content: center;    
    justify-content: center;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    font-size: 22px;    
    padding: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.acordeon-item:target .opciones{
    max-height: 450px;
}

.acordeon-item:target .acordeon-link .fa-plus{
    display: none;
}

.acordeon-item:target .acordeon-link .fa-minus{
    display: block;
}

/*  CAMPO PARA INGRESAR COMENTARIO  */
.form-group input{
    height: 32px;
    width: 90%;
    margin: 6px;
    font-size: 14px;
    background: #e7e7e7;
    color: #000000;            
    margin-left: 20px;
    border-radius: 5px;
}

.form-group::before{
    font-family: "sans-serif";
    position: absolute;
    left: 58px;
    font-size: 22px;
    padding-top: 4px;
}

.form-otros input{
    height: 32px;
    width: 90%;
    margin: 6px;
    font-size: 14px;
    background: #e7e7e7;
    color: #000000;
    padding: 0;            
    margin-left: 20px;
    border-radius: 5px;
}

.form-otros::before{
    font-family: "sans-serif";
    position: absolute;
    left: 58px;
    font-size: 22px;    
}



/*  EDITAR RADIO  */
input[type=radio]{
    display: none;    
}

input[type=radio] + label{
    cursor: pointer;
}

input[type=radio]:checked + label:before{
    content: '✓';    
    font-size: 18px;
    font-family: 'arial';
    color: #88c64b;    
}

/*  EDITAR CHECKBOX  */

label{
    font-size: 12px;
    color: #ffffff;
    font-family: sans-serif;
}

input[type=checkbox]{
    display: none;    
}

input[type=checkbox] + label{
    cursor: pointer;
}

label::before{
    content: '';
    height: 25px;
    width: 25px;
    display: inline-block;
    background: transparent;
    border: 2px solid #04d7fc;
    border-radius: 50%;    
    margin-right: 15px;
    margin-left: 20px;
    text-align: center;
    vertical-align: middle;    
    box-shadow: .3rem 2px .3rem rgba(0, 0, 0, 0.788);
}

input[type=checkbox]:checked + label:before{
    content: '✓';    
    font-size: 18px;
    font-family: 'arial';
    color: #88c64b;    
}



@media (max-width: 700px) {
    .op{       
        width: 49%;        
        padding: 0px 0px 3px 0px;
        margin: 1px;
    }
}

@media (max-width: 700px) {
    label{        
        font-size: 10px;
        padding: 2;        
    }
}

@media (max-width: 700px) {
    label::before{        
        margin-right: 5px;
        margin-left: 15px;        
    }
}
